.header {
	position: relative;

	z-index: 101;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	background: #f6f6f6;
	color: #252525;
	padding: 15px 0;
	overflow: visible;
	&__left {
		font-size: 12px;
		line-height: 15px;
	}
	&__right {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;

		font-size: 16px;
		line-height: 19px;

		.block:first-child {
			margin-right: 32px;
		}
	}

	.block {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		&__item {
			margin-right: 30px;
		}
		&__icon {
			width: 24px;
			height: 24px;
			margin: 0 7px;
			&-mini {
				width: 10px;
				height: auto;
				margin: 0 7px;
			}
		}
		&__text {
			color: #252525;
			font-family: "Inter";
			font-style: normal;
			font-weight: 400;

			font-size: 14px;
			line-height: 17px;
		}
	}
	font-family: "Inter";
	font-style: normal;
	font-weight: 400;

	font-size: 14px;
	line-height: 17px;

	color: #252525;
	.hamburger,
	&__nav {
		display: none;
	}
	@include adaptive-480 {
		&__middle,
		&__right {
			display: none;
		}
		.hamburger,
		&__nav {
			display: block;
		}
		.hamburger {
			&-inner,
			&-inner::before,
			&-inner::after {
				background-color: #252525;
			}
		}
		.hamburger.is-active .hamburger-inner,
		.hamburger.is-active .hamburger-inner::before,
		.hamburger.is-active .hamburger-inner::after {
			background-color: #252525;
		}
	}
}
