.filter {
	position: relative;

	width: 100%;
	height: auto;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	font-family: "Inter";
	font-style: normal;
	padding: 20px 0;
	&__icon {
		grid-area: logo;
		width: 80px;
		height: 80px;
		&-mini {
			width: 24px;
			height: 24px;
		}
	}
	.button {
		grid-area: btn;
		cursor: pointer;
		display: flex;
		place-items: center;
		padding: 13px 40px;
		background: #e41d2c;
		border-radius: 5px;
		&__text {
			font-weight: 600;
			font-size: 16px;
			line-height: 19px;
			color: #ffffff;
		}
		&__icon {
			margin-right: 10px;
		}
	}
	.search {
		grid-area: search;
		display: flex;

		justify-content: space-between;
		gap: 20px;

		background: #ffffff;
		border: 1px solid #ececec;
		border-radius: 5px;
		padding: 13px;
		width: 50%;
		&__block {
			display: flex;
			align-items: center;

			p {
				font-weight: 400;
				font-size: 16px;
				line-height: 19px;
				text-align: center;

				color: #252525;
			}
		}
		&__icon {
			&-mini {
				width: 8px;
				height: 4px;
			}
		}
		&__line {
			width: 24px;
			height: 0px;
			border: 1px solid #ececec;
			transform-origin: 0px;
			transform: rotate(90deg);
		}
		&__input {
			width: 100%;
		}
	}
	.services {
		grid-area: services;
		display: flex;
		gap: 35px;
		&__block {
			cursor: pointer;
			display: flex;
			flex-direction: column;
			// justify-content: center;
			align-items: center;
		}
		&__icon {
			width: 20px;
			height: 20px;
		}
		&__text {
			font-weight: 500;
			font-size: 14px;
			line-height: 17px;
			color: #252525;
		}
	}
	@include adaptive-480 {
		display: grid;
		grid-template-areas:
			"logo btn"
			"search search"
			"services services";

		.search {
			width: 100%;
		}
	}
}
