.mainpage {
	.hero {
		width: 100%;
		display: grid;
		grid-template: auto/68% 30%;
		gap: 20px;
	}
	.slider {
		position: relative;
		&__text {
			position: absolute;
			top: 8%;
			left: 5%;
			width: 40%;
			font-style: normal;
			font-weight: 700;
			font-size: 28px;
			line-height: 34px;
			color: #ffffff;
		}
		&__img {
			width: 100%;
			height: auto;
		}
	}
	.podbor {
		display: grid;
		grid-template: auto/1fr;

		&__card {
			display: grid;
			grid-template: auto/1fr 1fr;
			background: #f6f6f6;
			border-radius: 5px;
			padding: 25px;
			div {
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				gap: 10px;
			}
		}
		&__title {
			font-weight: 700;
			font-size: 20px;
			line-height: 24px;

			color: #17488b;
		}
		&__desc {
			font-weight: 400;
			font-size: 16px;
			line-height: 140%;

			color: #252525;
		}
		&__btn {
			cursor: pointer;
			padding: 13px 35px;
			font-weight: 600;
			font-size: 16px;
			line-height: 19px;

			color: #ffffff;

			background: #e41d2c;
			border-radius: 5px;
		}
	}
	.brands {
		margin: 90px 0;
		&__block {
			display: flex;
			place-content: center;
			justify-content: space-between;
		}
		&__btn {
			display: flex;
			place-content: center;
			font-weight: 600;
			font-size: 16px;
			line-height: 19px;
			text-align: center;
			color: #e41d2c;

			img {
				margin-left: 10px;
				margin-top: 5px;
				height: 12px;
				width: 6px;
			}
		}
		&__slider {
			display: flex;
			place-content: center;
			justify-content: space-between;
		}
		&__title {
			font-style: normal;
			font-weight: 700;
			font-size: 24px;
			line-height: 29px;
			color: #252525;
			margin-bottom: 60px;
		}
		&__item {
			display: flex;
			flex-direction: column;
			place-items: center;
			margin: 0 30px;
		}
		&__img {
			height: 100px;
			width: auto;
		}
	}
}
